header .login{
    position: absolute;
    display: block;
    width: 15vw;
    height: 4vh;
    background-color: #e4366b;
    color: #fff;
    top: 25%;
    right: 30px;
    font-size: 3vw;
    line-height: 4vh;
    border-radius: 20px;
}
#alert{
    position: absolute;
    width: 80vw;
    left: 10vw;
    height: 13.5vw;
    top: 0;
    margin: 0;
    color: #fff;
    background-color: #e4a69d;
    font-size: 4vw;
    line-height: 13.5vw;
    text-align: center;
    border-radius: 30px;
}
@keyframes alert{
    0%{
        top:0
    }
    25%{
        top:13.5vw
    }
    50%{

        top:13.5vw
    }
    100%{
        top:0
    }
}
.content{
    height: 90vh;
    padding-top: 20vh;

}
.content input[type=text],.content input[type=password]{
    display: block;
    width: 80vw;
    height: 7vh;
    border: 1px solid #333;
    outline: none;
    margin-left: 10vw;
    margin-bottom: 7vh;
    border-radius: 20px;
    font-size: 6vw;
    text-indent: 4vw;
    color: #ccc;
}
.content .remBand{
    width: 77vw;
    height: 5vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
    font-size: 3vw;
    padding-left: 3vw;
    overflow: hidden;
}
.remBand *{
    float: left;
}
.remBand input{
    width: 4vw;
    height: 4vw;
    margin: 0;
}
.remBand label{
    margin: 0 1vw;
    height: 4vw;
}
.content button{
    width: 80vw;
    background-color: #e4366b;
    height: 8vh;
    border-radius: 30px;
    margin-left: 10vw;
    color: #fff;
    font-size: 3vh;
}