.right .discountBand{
    margin: 10px 0;
    overflow: hidden;
    height: auto;
    margin-left: 2vw;
}
.discountBand .discount,.discountBand .lastPrice{
    color: #999;
    margin-right: 5vw;
}
.right .cart{
    position: absolute;
    bottom: 3vw;
    right: 7vw;
    display: block;
    width: 20vw;
    height: 10vw;
    font-size: 7vw;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background-color: #e4366b;
}